{% set version = '1.0' %}
<!DOCTYPE html>
<html lang="{{meta.lang ? meta.lang : 'en'}}">
<head>
    <meta charset="UTF-8">
    <title>{{meta.title ? meta.title : 'Frontend starter kit'}}</title>

	{% if meta.ogTitle %} <meta property="og:title" content="{{meta.ogTitle}}"> {% endif %}
	{% if meta.ogImage %} <meta property="og:image" content="{{meta.ogImage}}"> {% endif %}
	{% if meta.ogUrl %} <meta property="og:url" content="{{meta.ogImage}}"> {% endif %}
	{% if meta.themeColor %} <meta name="theme-color" content="{{meta.themeColor}}"> {% endif %}
	{% if meta.description %} <meta name="description" content="{{meta.description}}"> {% endif %}

	<meta property="og:type" content="website">
    <meta name=viewport content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/{{paths['style.css']}}" type="text/css" media="all">
</head>
<body class="noselect" oncontextmenu="return false;">
    {{test}}
    {% block view %}{% endblock %}

    <script src="/assets/{{paths['main.js']}}"></script>
</body>
</html>
